githubToken: ghp_xxxxxxxxxxxxx
owner: github-username
repo: your-repository
monitorPath: path-directory-to-monitor
ageSecret: sops age private key
interval: 60
script: |
  your adhoc script
  ...
  ...
logging:
  logFilePath: "/var/log/config-pilot/app.log"
  logLevel: "info"
  logToFile: false
